.mat-card {
  margin-bottom: 2rem;

  background: #181818;
  color: white;
  &-subtitle{

    color: white;
}
  .span {
    background-color: #2deb83;
color: #181818;
padding: 5px;

  }
  .type{
    background-color: #2deb83;
    padding: 10px 33px;
    color: #181818;
    border-radius: 7%;
  }
}
