.mat-card {
  margin-bottom: 2rem;

  .span {
    background-color: orange;
    padding: 5px;

  }
  .type{
    background-color: #e91e63;
    padding: 10px 33px;
    color: white;
    border-radius: 7%;
  }
}
