.mat-card {
  margin-bottom: 2rem;
      height: 140%;
  .mat-card-avatar {
   width: 216px;
  }
  .card-inner{
    width: 70%;
margin-left: 23%;
  }
  .mat-card-actions{

      margin-top: 1%;

  }

  .span {
    background-color: orange;
    padding: 5px;

  }
  .type{
    background-color: #e91e63;
    padding: 10px 33px;
    color: white;
    border-radius: 7%;
  }
}
