.pop-up {

  .help-block {
    color: red;
  }
  .button{
    background-color: #1bb26b;
    color: black;
  }
  .input{
    width: 17rem;
margin-bottom: 0rem;
  }
  .mat-dialog-container {
    background: black;
  }
}
