.mat-card {
  margin-bottom: 2rem;
  height: 140%;
  background: #181818;
  color: white;

  .mat-card-avatar {
    width: 216px;
  }

  .card-inner {
    width: 70%;
    margin-left: 25%;
  }

  .mat-card-actions {
    margin-top: 1%;

    &-align-end {
      display: flex;
      justify-content: flex-start;
      margin-left: 0;
    }
  }

  .span {
    background-color: orange;
    padding: 5px;
  }

  .type {
    background-color: #2be17d;
    padding: 10px 33px;
    color: #181818;
    border-radius: 7%;
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  position: fixed;
  text-align: center;
}

.table {
  background-color: #121212;

  .thead {
    background-color: #121212;
    color: #e91e63;
    border: 1px solid #1c1c1c;
  }

  .body {
    background-color: #121212;
    color: #e91e63;
    border: 1px solid #1c1c1c;

    .tr {
      color: white;
      border: 1px solid #1c1c1c;
      border: none;
    }

    .btn {
      background-color: #2ee27f;
      padding: 10px 33px;
      color: white;
      border-radius: 7%;
    }
  }
}
mat-card[_ngcontent-nnn-c185]{
      background: #181818;
}
