<div style="margin-left:28%" class="main container mx-auto py-10 h-64 md:w-5/5 w-12/12 px-1 ">
<mat-card >
  <div mat-card-avatar class="mb-3">
    <img src="{{trackDteails.album.images[0].url}}" alt="" class="rounded">
  </div>
  <div class="card-inner">
  <mat-card-title><a>{{ trackDteails.album.name }}</a></mat-card-title>

  <div   class="flex">

  </div>
  <mat-card-actions align="end">
    <a href="{{trackDteails.spotify}}">
<button mat-button class="type" >Spotify</button></a>
  </mat-card-actions>
</div>
</mat-card>
  <ngx-audio-player style="    background: black;" class="footer" [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
            muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions"
            [displayArtist]="msaapDisplayArtist" [displayDuration]="msaapDisplayDuration"
            [expanded]="true"  [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
            [disablePositionSlider]="msaapDisablePositionSlider"></ngx-audio-player>

            <table class="min-w-full divide-y divide-gray-200 flex-1 table">
                     <thead class="bg-gray-50 thead">
                       <tr>
                         <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           Song
                         </th>

                         <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                         </th>
                         <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                         </th>
                         <th scope="col" class="relative px-6 py-3">
                           <span class="sr-only">Edit</span>
                         </th>
                       </tr>
                     </thead>
                     <tbody class="bg-white divide-y divide-gray-200 body">
                       <tr *ngFor="let track of tracks  tr" style="border-bottom: 1px solid #1c1c1c;">
                         <td class="px-6 py-4 whitespace-nowrap">
                           <div class="flex items-center">
                             <div class="flex-shrink-0 h-10 w-10">
                               <img class="h-10 w-10 rounded-full" [src]="trackDteails.album.images[0].url" alt="">
                             </div>
                             <div class="ml-4">
                               <div class="text-sm font-medium text-gray-900" style="color:white">
                                 {{track.name}}
                               </div>
                               <div class="text-sm text-gray-500">
                                 {{track.artists[0].name }}
                               </div>
                             </div>
                           </div>
                         </td>
                         <td class="px-6 py-4 whitespace-nowrap">

                         </td>
                         <td class="px-6 py-4 whitespace-nowrap">

                         </td>
                         <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">

                         </td>
                         <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                           <a routerLink="{{track.id}}" class="text-indigo-600 hover:text-indigo-900 btn">Play</a>
                         </td>
                       </tr>

                       <!-- More people... -->
                     </tbody>
                   </table>
</div>
